<h1>New paper</h1>
<%= form_with scope: :paper, local: true do |form| %>

  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@paper.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @paper.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :venue %><br>
    <%= form.text_field :venue %>
  </p>
  <p>
    <%= form.label :year %><br>
    <%= form.text_field :year %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<div>
  <%= link_to "Back to papers", papers_path %>
</div>
